extends layouts/main.pug
include mixins/videoBlock

block content
    each item in videos
        //- https://pugjs.org/language/mixins.html : 좀 불친절한 설명이지만.. 참고
        +videoBlock({
            title:item.title,
            videoFile:item.videoFile,
            views:item.views})