extends layouts/main.pug
include mixins/videoBlock

block content
    .search__videos
        h3 Searching for #{searchingBy}
    .search__videos
        each item in videos
            +videoBlock({
                id:item.id,
                title:item.title,
                videoFile:item.fileUrl,
                views:item.views})